<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            
                            <title>Home</title>
                            
                            <!-- Bootstrap Core CSS -->
                            <link href="./css/bootstrap.min.css" rel="stylesheet">
                                
                                <!-- Custom CSS -->
                                <link href="./css/modern-business.css" rel="stylesheet">
                                    
                                    <!-- Custom Fonts -->
                                    <link href="./font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
                                        
                                        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                                        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                                        <!--[if lt IE 9]>
                                         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                         <![endif]-->
                                        
                                        
                                        
                                        
                                        
                                        <!-- Navigation -->
                                        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                                            <div class="container">
                                                <!-- Brand and toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>
                                                    <a class="navbar-brand" href="index.html">App name</a>
                                                </div>
                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                    <ul class="nav navbar-nav navbar-right">
                                                        <li>
                                                            <a href="chapterevents.html">Chapter Events</a>
                                                        </li>
                                                        <li>
                                                            <a href="roster.html">Roster</a>
                                                        </li>
                                                        <li>
                                                            <a href="food.html">Food</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="profile.html">Profile</a>
                                                                </li>
                                                                <li>
                                                                    <a href="logout.html">Log Out</a>
                                                                </li>
                                                                <li>
                                                                    
                                                                    </ul>
                                                        </li>
                                                        
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- /.navbar-collapse -->
                                            </div>
                                            <!-- /.container -->
                                        </nav>
                                        
                                        
                                        
                                        
                                        
    </head>
    
    <body>
                <!-- Facebook script -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                 fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));</script>
        
        
        <!-- Page Content -->
        <div class="container">
            
            <!-- Information -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        [Chapter Name]
                    </h1>
                </div>
                <div class="col-lg-8">
               <iframe src="http://widget.websta.me/in/lehigh_zta/?s=240&w=3&h=1&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:765px; height: 255px" ></iframe> <!-- websta - web.stagram.com -->
                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-check"></i> Chapter Annoucements</h4>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    
                    <div class="fb-page" data-href="https://www.facebook.com/LehighZTA" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/LehighZTA"><a href="https://www.facebook.com/LehighZTA"></a></blockquote></div></div>

                       <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-compass"></i> Social Media</h4>
                        </div>
                      
                           
                    <div class="panel-body">
                          
                            <ul class="list-unstyled list-inline list-social-icons">
                                <li>
                                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                                </li>
                            </ul>
                            
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
           
            <hr>
            
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
            </footer>
            
        </div>
        <!-- /.container -->
        
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Script to Activate the Carousel -->
        <script>
            $('.carousel').carousel({
                                    interval: 5000 //changes the speed
                                    })
            </script>
        
    </body>
    
</html>
